name: Build the website

on:
  push:
    branches: [ master ]
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Build distribution
      run: make clean dist
    - name: Checkout the pages branch
      run: git checkout gh-pages
    - run: git ls-files
    - run: git ls-files | grep -Ev "^\." | grep -Ev "^CNAME$" | xargs rm -rvf && mv dist/* .
    - name: Push distribution
      uses: github-actions-x/commit@v2.6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'gh-pages'
        force-add: 'false'
        commit-message: 'publish'
        name: Mateusz Haligowski
        email: mhaligowski@gmail.com
